.ckus_bottom_page {
    .check-address {
//         top: 0.5in;
        width: 4.0in;
        font-weight: bold;
    }
    .check-pay {
        top: 1.4in;
        width: 7in;
        font-weight: bold;
        overflow: hidden;
    }
    .check-pay-label {
        float: left;
        width: 0.75in;
    }
    .check-to-the-order {
        top: 1.9in;
        width: 7.0in;
        font-weight: bold;
    }
    .to-the-order-label {
        float: left;
        width: 0.75in;
    }
    .table-total {
        top: 0.5in;
        width: 3in;
        left: 4.5in;
        th {
            border: 1px solid black !important;
        }
    }
    .check-memo {
        top: 2.40in;
        width: 4.0in;
        font-weight: bold;
    }
    .memo-label {
        float: left;
        width: 0.75in;
    }
    .check-sign {
        top: 2.30in;
        left: 5.5in;
        width: 2in;
        text-align: center;
        border-top: 2px solid;
    }
}
